/* 
      (ง'̀-'́)ง
    (ง'̀-'́)ง
  (ง'̀-'́)ง
color theme 
#871CA1
#2C1679
#0CCDDB
#FFFFFF
*/

body {
  background-color:#f0f0f0;
  display: flex;
  justify-content: center;
}

.calcWrapper{
  /* border: solid green 3px; */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30em;

}
.calcScreen {
  box-shadow: 0px 3px 0px #2b638f;
  border: 0.5px solid #871CA1;
  /* border: solid blue 3px; */
  background-color: #c37ed4;
  width: 100%;
  height: 10em;
}
.buttonWrapper{
  /* border: solid red 3px; */
  background-color: #0ccddb3f;
  display : flex;
  justify-content: center;
  height: 40em;
  flex-wrap: wrap;
  
}
.individButton {
  /* border: solid lime 3px; */
  text-shadow: 0px -1px 0px rgba(0, 0, 0, .5);
  box-shadow: 0px 6px 0px #2b638f;
  border-radius: 5px;
  color: #ffffff;
  background-color: rgb(12, 205, 219);
  text-decoration: none;
  border: 0.5px solid #871CA1;
  /* background-image: red; */
  /* bottom, rgb(73, 132, 180) 0%, rgb(97, 155, 203) 100% */
  background-image: linear-gradient(to bottom, rgb(12, 205, 219) 0%, rgb(73, 206, 216) 100%);

  box-shadow: 0px 3px 0px #871CA1, 0px 3px 15px rgba(0,0,0,.4);
  margin: 2em;
  height: 4em;
  width: 4em;
  flex-wrap: wrap;
}

.individButton:hover {
  /* background-image: green; */
  background-image: linear-gradient(to bottom, rgb(35, 205, 218) 0%, rgb(121, 210, 216) 100%)
}

